---
title: Release controls
description: Implement controls to ensure teams ship high quality and secure code
canonical_path: "/solutions/release-controls/"
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Release Controls
    %p Implement controls to ensure teams ship high quality and secure code
    = link_to "Try GitLab Free", "/free-trial/", class: "btn cta-btn orange"
.gitlab-content-container.reverse-content

  .content.row-layout
    .full-width
      %h2 Code Controls
      %p Ensure that code follows your company's policies
      %ul
        %li
          Enforce code review approvals via <a href="https://docs.gitlab.com/ee/user/project/merge_requests/approvals/rules.html">approval rules for code review.</a>
        %li
          Reject code that does not comply to company policy with <a href="https://docs.gitlab.com/ee/push_rules/push_rules.html">push rules.</a>
    .full-width
      = image_tag "images/approval-rules.png", class: "screenshot margin-bottom10", alt: "Merge requests diff and comments"
  .content.row-layout
    .full-width
      %h2 Merge Controls
      %p Ensure that only code with adequate approvals is merged
      %ul
        %li
          Sequence and coordinate merge requests with <a href="https://docs.gitlab.com/ee/user/project/merge_requests/merge_request_dependencies.html"> dependencies. </a>
        %li
          Enforce necessary approvals with <a href="https://docs.gitlab.com/ee/user/project/merge_requests/approvals/">required merge request approvals.</a>
    .full-width
      = image_tag "images/mr-dependencies.png", class: "screenshot margin-bottom10", alt: "Merge request approvals"
  .content.row-layout
    .full-width
      %h2 Access controls
      %p Ensure only the right individuals with the right permissions can make changes to specific code / environments.
      %ul
        %li
          Restrict users, groups, accounts allowed to deploy to sensitive environments with <a href="https://docs.gitlab.com/ee/ci/environments/protected_environments.html">protected environments</a>.
        %li
          Restrict / <a href="https://docs.gitlab.com/ee/user/group/index.html#member-lock">lock new members</a> from being added to a project within a group.
        %li
          <a href="https://docs.gitlab.com/ee/user/project/protected_branches.html#restricting-push-and-merge-access-to-certain-users">Restrict push/merge access</a> to a protected branch
    .full-width
      = image_tag "images/protected-access.png", class: "screenshot margin-bottom10", alt: "Code review analytics"

  .content
    %h2.u-margin-bottom-sm.text-center
      Featured videos
    .video-slider
      - data.video_carousel.each do |video|
        -if video.carousel_identifier.include?("Release Controls Carousel")
          = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}


%section
  .container
    .row
      .col-md-12.text-center
        = partial "includes/blog/try"

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("Code Review Carousel")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl}
